* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #101828;
    background-color: #F9F9FB;
    font-family: sans-serif, serif;
}

#root {
    max-width: 90vw;
    margin: auto;
}


/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: .5rem;
    margin: 2rem 0;
}
.header-heart {
    background-color: #7f22fe;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 5px 0px;
}
.fa-heart {
    background-color: #7f22fe;
    color: #fff;
}

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.header-p {
    font-size: .85rem;
    color: #a6a6a6;
}


/* Main */

form {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
form > input {
    padding: .9rem;
    border-radius: 12px;
    border: 2px solid #E8E8F7;
    flex-grow: 1;
}

.sr-only {
    display: none;
}

form > button {
    padding: .75rem 1.25rem;
    border-radius: 12px;
    color: #ededede0;
    background-color: #7f22fe;
    border: 2px solid #E8E8F7;
    white-space: nowrap;
    flex-shrink: 1;
}

.button-group {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.button-group button {
    flex: 1;
}

.toggle-btn {
    padding: 1rem 2.5rem;
    border-radius: 12px;
    border: 2px solid #E8E8F7;
    white-space: wrap;
}

.count, .label {
    display: block;
}

.toggle-btn .count {
    margin-bottom: .5rem;
    font-weight: 900;
    font-size: 1.5rem;
    color: #101828;
}

.toggle-btn.active .count {
    color: #fff;
}
