* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #101828;
    background-color: #F9F9FB;
    font-family: sans-serif, serif;
    height: 100vh;
}

#root {
    max-width: 90vw;
    margin: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.fc-p, .header-p {
    color: #a6a6a6;
}


/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: .5rem;
    margin: 2rem 0;
}
.header-heart {
    background-color: #7f22fe;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 5px 0px;
}
.fa-heart {
    background-color: #7f22fe;
    color: #fff;
}

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}


.header-p {
    font-size: .85rem;
    
}


/* Main */

main {
    flex-grow: 1;
}

form {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
form > input {
    padding: .9rem;
    border-radius: 12px;
    border: 2px solid #E8E8F7;
    flex-grow: 1;
}

.sr-only {
    display: none;
}

form > button {
    padding: .75rem 1.25rem;
    border-radius: 12px;
    color: #ededede0;
    background-color: #7f22fe;
    border: 2px solid #E8E8F7;
    white-space: nowrap;
    flex-shrink: 1;
}

.button-group {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.button-group button {
    flex: 1;
}

.toggle-btn {
    padding: .5rem 2.5rem;
    border-radius: 12px;
    border: 2px solid #E8E8F7;
    white-space: wrap;
    max-width: 200px;
}

.count, .label {
    display: block;
}

.toggle-btn .count {
    margin-bottom: .5rem;
    font-weight: 900;
    font-size: 1.5rem;
    color: #101828;
}

.toggle-btn.active .count {
    color: #fff;
}

.fc-p {
    font-weight: 600;
    margin: 1.5rem 0;
}

li {
    list-style: none;
    padding: 2rem 1rem;
    border: 1px solid #a6a6a6;
    margin-bottom: .5rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-starred {
    background-color: #c29cf721;
    color: #6b07f6;
    
}

.item-starred-name {
    font-weight: 900;
}


.flex-gap {
    display: flex;
    gap: 12px;
    align-items: center;
}

.item-fav {
  background-color: #a6a6a630;
  border-radius: 12px;
  padding: .25rem .5rem;
  align-self: center;
}

.star-icon, .bin-icon {
  border: none;
  border-radius: 12px;
  padding: .5rem .55rem;
  background-color: #a6a6a6;
  color: #5b5b5b;
}

.bin-icon:active {
    background-color:#ff0f0fb2;
}
.star-icon:active {
    background-color: gold;
}

.star-icon-active {
    background-color: #7f22fe;
}
.star-icon-active i {
    color: #fff;
}


/* Footer */

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding: 2.5rem 0;
    white-space: nowrap;
}

